In [1]:
import pandas as pd
import numpy as np  
so=pd.Series(np.tile([1,2],5))
print(so)

0    1
1    2
2    1
3    2
4    1
5    2
6    1
7    2
8    1
9    2
dtype: int64

In [2]:
import numpy as np
import pandas as pd
s=pd.Series(np.linspace(2,20,10))
print(s.values)

ModuleNotFoundError: No module named 'numpy'

In [5]:
s2=pd.Series({'himanshu':45, 'arjun':55, 'karan':65})
print(s2)

himanshu    45
arjun       55
karan       65
dtype: int64

In [8]:
#data as a scalar value
data=int(input("Enter a Value "))
s3=pd.Series(data, index=['himanshu', 'arjun','karan'])
print(s3)

himanshu    20000
arjun       20000
karan       20000
dtype: int64

In [10]:
marks=[10,np.NaN,40]
names=["himanshu","arpit","arjun"]
s4=pd.Series(marks,index=names)
print(s4)

himanshu    10.0
arpit        NaN
arjun       40.0
dtype: float64

In [11]:
#write a program to create a series object to display month and number days in each month
months=['jan','feb','mar']
days=[31,28,31]
s5=pd.Series(data=days,index=months)
print(s5)

jan    31
feb    28
mar    31
dtype: int64

In [13]:
#mathematical function in Series
num=np.arange(1,11)
s6=pd.Series(data=num*5,index=num)
print(s6)

1      5
2     10
3     15
4     20
5     25
6     30
7     35
8     40
9     45
10    50
dtype: int64

In [17]:
#mathematical function in Series
num=np.arange(1,11)
lst=[5,6,7,]
s6=pd.Series(data=(2*lst))
print(s6)

0    5
1    6
2    7
3    5
4    6
5    7
dtype: int64

In [12]:
import pandas as pd
import numpy as np 
marks=np.array([15,14,11,19,18])
names=['aman','ashish','arjun','karan','gurjot']
s7=pd.Series(data=marks*2,index=names)
print(s7[0],s7[1])
print(s7[0:2])

30 28
aman      30
ashish    28
dtype: int64

In [20]:
s7.index

Index(['aman', 'ashish', 'arjun', 'karan', 'gurjot'], dtype='object')

In [21]:
print(s7.values) #it tells values stored in data attribute, in Serires()

[30 28 22 38 36]

In [22]:
s7.dtype #it tellds data type of values i.e. the first argument of Series()

dtype('int64')

In [23]:
s7.shape #it tells whether it is 1d array or 2d array

(5,)

In [24]:
s7.nbytes

40

In [25]:
s7.ndim

1

In [26]:
s7.size

5

In [28]:
s7.hasnans

False

In [30]:
s7.empty

False

In [18]:
#ARITHMETIC OPERATIONS WITH SERIES
#All arithmetic operations can be performed with Series object.  The elements on same index will be used for perorming arithmetic operations. Take care that number of elements in both object must be same

import pandas as pd 
import numpy as np 
import random as rnd 

s1=pd.Series([np.arange(2,20,2)])
s2=pd.Series([np.arange(2,20,2)])
print(s1)
print(s2)
s3=s1+s2
print("Sum of Series Elements=",s3)
print("Increase the value of each element of object s1 with 2 ",s1+2)
s4=pd.Series([rnd.randrange(1,20)])
print(s4)

0    [2, 4, 6, 8, 10, 12, 14, 16, 18]
dtype: object
0    [2, 4, 6, 8, 10, 12, 14, 16, 18]
dtype: object
Sum of Series Elements= 0    [4, 8, 12, 16, 20, 24, 28, 32, 36]
dtype: object
Increase the value of each element of object s1 with 2  0    [4, 6, 8, 10, 12, 14, 16, 18, 20]
dtype: object
0    1
dtype: int64

In [7]:
import pandas as pd 
ser=pd.Series([65657,980,540,87892,43677,89902,256711,678291,637632,75243])
#print(ser)
print("The biggest Area in Square kilometer is ",ser.max())
print("The smallest Area in Square Kilometer is ",ser.min())

The biggest Area in Square kilometer is  678291
The smallest Area in Square Kilometer is  540

In [4]:
import pandas as pd 
data=[45,65,24,89]
i=["Term1","Term2","Term3","Term4"]
s3=pd.Series(data,index=i)
print(s3)

Term1    45
Term2    65
Term3    24
Term4    89
dtype: int64

In [1]:
import pandas as pd
f=["Table", "Chair","Sofa","Stool"]
r=[350,200,800,150]
Furniture=pd.Series(r,index=f)
print(Furniture)

Table    350
Chair    200
Sofa     800
Stool    150
dtype: int64

In [7]:
print(Furniture[f]>250)

Table     True
Chair    False
Sofa      True
Stool    False
dtype: bool

In [2]:
import pandas as pd
sarea=pd.Series([12346,25846,36985214,456358,456236])
result=sarea.max()
print("Maximum Area of State is ",result)
result=sarea.min()
print("Minimum Area of State is ",result)

Maximum Area of State is  36985214
Minimum Area of State is  12346

In [3]:
import random
import pandas as pd
s=pd.Series([random.randint(6)],index=['p','q','r','s','t','u'])
print(s)

TypeError: randint() missing 1 required positional argument: 'b'