In [2]:
#Tuple: It refers to an immutale sequence of values that are indexed by integers.
#The () parenthesis symbol is used to define a tuple.

#Defining/Creating and initializing a tuple
t=() #an empty tuple
print(t)
t=(10,20,30,40,50) #tuple of integers
print(t)
t=("sunday", "monday","tuesday", "Wednesday","thursday","friday","saturday","sunday")#tuple of strings
print(t) 
t=('a','b','c','d','e') #tuple of characters
print(t)

()
(10, 20, 30, 40, 50)
('sunday', 'monday', 'tuesday', 'Wednesday', 'thursday', 'friday', 'saturday', 'sunday')

In [3]:
#Creating a tuple of of single value
t=19,
print(t)

(19,)

In [6]:
#Creating a tuple using function tuple()
t=tuple() #empty tuple
print(t) 
t=() #empty tuple
print(t)

()
()

In [7]:
#adding a new elements to tuple
t=(10,)
print(t)
n=int(input("Enter a value"))
t=(n,)
print(t)

(10,)
Enter a value100
(100,)

In [9]:
#ADDING MULTIPLE VALUES IN A TUPLE

t=()
n=int(input("How many values to input "))
print("Input "+str(n)+" values ")
for i in range(n):
    val=int(input(""))
    t=t+(val,) #here we are modifying or concatenating values in tuple
print('Values in tuple are:')
for i in range(n):
    print(t[i],end=" ")

How many values to input 5
Input 5 values
12
43
12
76
55
Values in tuple are:
12 43 12 76 55

In [13]:
#ANOTHER WAY OF ADDING VALUES IN TUPLE
t=tuple() #creates t as empty tuple
print(t)

#now let's convert above tuple t to list
l=list(t)
n=int(input("Enter size of list "))
print("Input "+str(n)+" values")
for i in range(n):
    l.append(int(input())) #storing n values in list l

#converting list to tuple
t=tuple(l)
#printing values of tuple
print("Values in tuple are: ",end="")
for i in range(n):
    print(t[i],end=' ')

()
Enter size of list 7
Input 7 values
12
34
56
78
90
23
45
Values in tuple are: 12 34 56 78 90 23 45

In [ ]:
#Can you recall why we cannot input values in tuple?

In [16]:
#another way of initializing tuple
#first way
t=(100,) #tuple t is initialized with 100
print(t)
#initializing t with multiple values
t=(100,)*10 #t is initialized with 100 on 10 indexes
print(t)

(100,)
(100, 100, 100, 100, 100, 100, 100, 100, 100, 100)

In [23]:
#tuple Assignments
#they are helpful when we want to swap or interchange values 
#without using another variable
#that we very oftenly do in other programming languages

#Example of other prog languages to swap values of variables

a=10
b=20
print("Original")
print("a=",a,"\nb=",b)
#swapping values of a with b using third variable as t
t=a
a=b
b=t
print("\nSwapped")
print("a=",a,"\nb=",b)

#now the above task can be easily done using tuple
a=10
b=20
print("\nOriginal")
print("a=",a,"\nb=",b)
#swapping in python
a,b=b,a  #be careful to keep same variable at both side of = assignment operator
print("\nSwapped")
print("a=",a,"\nb=",b)

#another example to swap tuple values
t1=(10,20,30,40,50)
t2=(60,70,80,90,100)
print("t1=",t1)
print("t2=",t2)
t1,t2=t2,t1
print("t1=",t1)
print("t2=",t2)

Original
a= 10
b= 20

Swapped
a= 20
b= 10

Original
a= 10
b= 20

Swapped
a= 20
b= 10
t1= (10, 20, 30, 40, 50)
t2= (60, 70, 80, 90, 100)
t1= (60, 70, 80, 90, 100)
t2= (10, 20, 30, 40, 50)

In [40]:
#tuple slicing
t1=(10,20,30,40,50)
print(t1[:]) #print all values of t1
print(t1[0:0]) #will print empty tuple
print(t1[0:1]) #will print value at index 0
print(t1[-1:]) #will print last value of tuple i.e. 50
print(t1[-5:]) #will print all values
print(t1[-5:-1]) #will print values up to index -2
print(t1[::-1]) #will reverse the tuple values
print(t1[::3]) #will print every 3rd value from tuple
print(t1[2:4:-1]) #empty tuple or no values as you cannot reverse subset
print(t1[2:4]) #print values at index 2 and 3

(10, 20, 30, 40, 50)
()
(10,)
(50,)
(10, 20, 30, 40, 50)
(10, 20, 30, 40)
(50, 40, 30, 20, 10)
(10, 40)
()
(30, 40)

In [41]:
#tuple functions
t1=(10,20)
t2=(10,20)
cmp(t1,t2) #will generate an error as cmp() not supprted in python 3

NameError: name 'cmp' is not defined

In [48]:
#be careful
t1=(10,20)
t2=(10,20)
t1 is t2 #return False
print(t1 is t2) #False
if t1 in t2: #False
    print(True)
else:
    print(False)

False
False

In [49]:
#be careful
t1=(10,20)
t2=(10,20)
t1 is not t2 #print True as both are considered different objects

True

In [59]:
#len(tuple): will return count of elements in tuple
t1=(10,20,30,40,50)
t2=("dav","centenary","public","school")
print("Length of t1=",len(t1))
print("Length of t2=",len(t2))

#another way of finding length of tuple/string
print()
c=0
for i in t1:
    c+=1

print("Length of t1=",c)

c=0
for i in t2:
    c+=1

print("Length of t1=",c)

Length of t1= 5
Length of t2= 4

Length of t1= 5
Length of t1= 4

In [60]:
#max(tuple): it will return the highest value in tuple
t1=(10,20,30,40,50)
t2=("dav","centenary","public","school")
print("The highest value in t1 = ",max(t1))
print("The highest value in t2",max(t2)) #on the basis of ASCII values of letters

The highest value in t1 =  50
The highest value in t2 school

In [61]:
#min(tuple): it will return the lowest value in tuple
t1=(10,20,30,40,50)
t2=("dav","centenary","public","school")
print("The highest value in t1 = ",min(t1))
print("The highest value in t2",min(t2)) #on the basis of ASCII values of letters

The highest value in t1 =  10
The highest value in t2 centenary

In [62]:
#tuple(): will create an empty tuple as we have seen in above examples
t=tuple()
print(t)

()

In [67]:
#Exercise Programs

#2. Write a program to input two set values and store it in tuples and also do the
#comparison.

def compare(set1,set2):
    if len(set1)==len(set2):
        for i in range(len(set1)):
            if set1[i]!=set2[i]:
                return False
    return True

s1=(10,20,30,40,50)
s2=(10,20,30,40,50)
result=compare(s1,s2)
if result:
    print("Both sets are same")
else:
    print("Both sets are not same")

Both sets are same

In [73]:
#3. prog to find max and min salary from n employees

import sys

def maximum(s):
    mx=0
    for i in range(len(s)):
        if s[i]>mx:
            mx=s[i]
    return mx

def minimum(s):
    mn=sys.maxsize
    for i in range(len(s)):
        if s[i]<mn:
            mn=s[i]
    return mn

salary=() #an emtpy tuple
ch='y'
while ch=='y' or ch=='Y':
    sal=int(input("Input Salary"))
    salary=salary+(sal,)
    ch=input("Continue y/n? ")

print("Salary of All Employees:",salary)
print("Highest Salary:",maximum(salary))
print("Lowest Salary:",minimum(salary))

Input Salary100
Continue y/n? y
Input Salary500
Continue y/n? y
Input Salary300
Continue y/n? y
Input Salary5000000
Continue y/n? y
Input Salary70000
Continue y/n? n
Salary of All Employees: (100, 500, 300, 5000000, 70000)
Highest Salary: 5000000
Lowest Salary: 100

In [76]:
#5. Write a program to input ‘n’ customers’ name and store it in tuple and display all
#customers’ names on the output screen.

ch='y'
t=tuple()
while ch=='y' or ch=='Y':
    name=input("Input Name: ")
    t=t+(name,)
    ch=input("Continue y/n? ")

print("Names in tuple are ",t)

Input Name: abhishek s chauhan
Continue y/n? y
Input Name: aditya garg
Continue y/n? y
Input Name: aditya kushwaha
Continue y/n? y
Input Name: anjali rai
Continue y/n? n
Names in tuple are  ('abhishek s chauhan', 'aditya garg', 'aditya kushwaha', 'anjali rai')